@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url('https://th.bing.com/th/id/R.b1a031a3b7bcc334f3be99c4a14d7a3b?rik=rPpfI%2ffO2OgOzw&riu=http%3a%2f%2fbgfons.com%2fuploads%2fapples%2fapples_PNG5098.png&ehk=I76KlbTjjM3kqzcPq3iU94fW%2bFdPTGY%2fDjhSsCK5%2fW4%3d&risl=&pid=ImgRaw&r=0') no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: #fff;
}