@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.magic {
  background-color: #f9ca24;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  padding: 12px 20px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  letter-spacing: 1px;
  box-shadow: 0 3px rgba(249, 202, 36, 0.5);
  z-index: 100;
}

.magic:focus {
  outline: none;
}

.magic:active {
  box-shadow: none;
  transform: translateY(2px);
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 500px;
  width: 500px;
  position: relative;
  transition: 0.4s ease;
}

.boxes.big {
  width: 600px;
  height: 600px;
}

.boxes.big .box {
  transform: rotateZ(360deg);
}

.box {
  /* background-image: url('https://www.bing.com/th/id/OGC.0cd782e41dc564a639acdb0c3beb5dcf?pid=1.7&rurl=https%3a%2f%2fc.tenor.com%2fAP0IpOuxmfUAAAAC%2fstu-macher-ghostface.gif&ehk=LEFeAUU4RSX9%2f0ZGpPpN5bKSl8NGYkxO7NSXhrdHgqI%3d'); */
  background-image: url('https://www.bing.com/th/id/OGC.023dccb4fbeef5d2e697b776a48a5d56?pid=1.7&rurl=https%3a%2f%2fi.pinimg.com%2foriginals%2f5c%2f99%2f7d%2f5c997db7dc722661b1931957c2534cd1.gif&ehk=o5ixP4Qkh2E%2ffFd6GR05euWYnyiSb0ozPwtJl0hLack%3d');
  background-repeat: no-repeat;
  background-size: 500px 500px;
  position: relative;
  height: 125px;
  width: 125px;
  transition: 0.4s ease;
}

.box::after {
  content: '';
  background-color: #f6e58d;
  position: absolute;
  top: 8px;
  right: -15px;
  height: 100%;
  width: 15px;
  transform: skewY(45deg);
}

.box::before {
  content: '';
  background-color: #f9ca24;
  position: absolute;
  bottom: -15px;
  left: 8px;
  height: 15px;
  width: 100%;
  transform: skewX(45deg);
}